AP_StockPromotion_V1/Web References/ws_authorize/authorize.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AppCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginResult" type="tns:AutorizeData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AutorizeData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPrincipalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Division" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountExpirationDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastLogon" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticationProvider" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysUserData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysUserRoles" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SysAppCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserProject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserApp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthorizeSoapHeader" type="tns:AuthorizeSoapHeader" />
      <s:complexType name="AuthorizeSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetCurrentDomain">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentDomainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AppCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserProfileResult" type="tns:AutorizeData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserProjectByUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserProjectByUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserProjectByUserIDResult" type="tns:_UserProjectData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_UserProjectData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_UserProject" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindUserProjectByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserProjectByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserProjectByUserNameResult" type="tns:_UserProjectData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserAppUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserAppUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserAppUserIDResult" type="tns:_UserAppData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_UserAppData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_UserApp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindUserAppUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserAppUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserAppUserNameResult" type="tns:_UserAppData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginAuthorizeSoapHeader">
    <wsdl:part name="AuthorizeSoapHeader" element="tns:AuthorizeSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetCurrentDomainSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentDomain" />
  </wsdl:message>
  <wsdl:message name="GetCurrentDomainSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentDomainAuthorizeSoapHeader">
    <wsdl:part name="AuthorizeSoapHeader" element="tns:AuthorizeSoapHeader" />
  </wsdl:message>
  <wsdl:message name="FindUserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:FindUserProfile" />
  </wsdl:message>
  <wsdl:message name="FindUserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserProfileAuthorizeSoapHeader">
    <wsdl:part name="AuthorizeSoapHeader" element="tns:AuthorizeSoapHeader" />
  </wsdl:message>
  <wsdl:message name="FindUserProjectByUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:FindUserProjectByUserID" />
  </wsdl:message>
  <wsdl:message name="FindUserProjectByUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserProjectByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserProjectByUserIDAuthorizeSoapHeader">
    <wsdl:part name="AuthorizeSoapHeader" element="tns:AuthorizeSoapHeader" />
  </wsdl:message>
  <wsdl:message name="FindUserProjectByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:FindUserProjectByUserName" />
  </wsdl:message>
  <wsdl:message name="FindUserProjectByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserProjectByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserProjectByUserNameAuthorizeSoapHeader">
    <wsdl:part name="AuthorizeSoapHeader" element="tns:AuthorizeSoapHeader" />
  </wsdl:message>
  <wsdl:message name="FindUserAppUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:FindUserAppUserID" />
  </wsdl:message>
  <wsdl:message name="FindUserAppUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserAppUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserAppUserIDAuthorizeSoapHeader">
    <wsdl:part name="AuthorizeSoapHeader" element="tns:AuthorizeSoapHeader" />
  </wsdl:message>
  <wsdl:message name="FindUserAppUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:FindUserAppUserName" />
  </wsdl:message>
  <wsdl:message name="FindUserAppUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserAppUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="FindUserAppUserNameAuthorizeSoapHeader">
    <wsdl:part name="AuthorizeSoapHeader" element="tns:AuthorizeSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="AuthorizeSoap">
    <wsdl:operation name="UserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authorize</wsdl:documentation>
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentDomain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authorize</wsdl:documentation>
      <wsdl:input message="tns:GetCurrentDomainSoapIn" />
      <wsdl:output message="tns:GetCurrentDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUserProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authorize</wsdl:documentation>
      <wsdl:input message="tns:FindUserProfileSoapIn" />
      <wsdl:output message="tns:FindUserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUserProjectByUserID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authorize</wsdl:documentation>
      <wsdl:input message="tns:FindUserProjectByUserIDSoapIn" />
      <wsdl:output message="tns:FindUserProjectByUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUserProjectByUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authorize</wsdl:documentation>
      <wsdl:input message="tns:FindUserProjectByUserNameSoapIn" />
      <wsdl:output message="tns:FindUserProjectByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUserAppUserID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authorize</wsdl:documentation>
      <wsdl:input message="tns:FindUserAppUserIDSoapIn" />
      <wsdl:output message="tns:FindUserAppUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindUserAppUserName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authorize</wsdl:documentation>
      <wsdl:input message="tns:FindUserAppUserNameSoapIn" />
      <wsdl:output message="tns:FindUserAppUserNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthorizeSoap" type="tns:AuthorizeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UserLoginAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:UserLoginAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentDomain">
      <soap:operation soapAction="http://tempuri.org/GetCurrentDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCurrentDomainAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetCurrentDomainAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserProfile">
      <soap:operation soapAction="http://tempuri.org/FindUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserProfileAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserProfileAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserProjectByUserID">
      <soap:operation soapAction="http://tempuri.org/FindUserProjectByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserProjectByUserIDAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserProjectByUserIDAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserProjectByUserName">
      <soap:operation soapAction="http://tempuri.org/FindUserProjectByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserProjectByUserNameAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserProjectByUserNameAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserAppUserID">
      <soap:operation soapAction="http://tempuri.org/FindUserAppUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserAppUserIDAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserAppUserIDAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserAppUserName">
      <soap:operation soapAction="http://tempuri.org/FindUserAppUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserAppUserNameAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:FindUserAppUserNameAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthorizeSoap12" type="tns:AuthorizeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UserLoginAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:UserLoginAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentDomain">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCurrentDomainAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCurrentDomainAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserProfile">
      <soap12:operation soapAction="http://tempuri.org/FindUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserProfileAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserProfileAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserProjectByUserID">
      <soap12:operation soapAction="http://tempuri.org/FindUserProjectByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserProjectByUserIDAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserProjectByUserIDAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserProjectByUserName">
      <soap12:operation soapAction="http://tempuri.org/FindUserProjectByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserProjectByUserNameAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserProjectByUserNameAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserAppUserID">
      <soap12:operation soapAction="http://tempuri.org/FindUserAppUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserAppUserIDAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserAppUserIDAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserAppUserName">
      <soap12:operation soapAction="http://tempuri.org/FindUserAppUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserAppUserNameAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:FindUserAppUserNameAuthorizeSoapHeader" part="AuthorizeSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authorize">
    <wsdl:port name="AuthorizeSoap" binding="tns:AuthorizeSoap">
      <soap:address location="http://appprod01.ap-crm.com/authorizewebservice/authorize.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthorizeSoap12" binding="tns:AuthorizeSoap12">
      <soap12:address location="http://appprod01.ap-crm.com/authorizewebservice/authorize.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>